[submodule "uxf"]
	path = uxf
	url = https://github.com/hivesolutions/uxf-bin.git
[submodule "layout"]
	path = layout
	url = https://github.com/hivesolutions/layout.git
[submodule "pushi"]
	path = pushi
	url = https://github.com/hivesolutions/pushi-js.git
